.main {
  text-align: center;

  .none_area {
    text-align: center;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 16px auto;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 16px auto;
  }

  .profile_area {

    .image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
    }

    .name {
      font-size: 20px;
      font-weight: bold;
      margin: 6px auto;
    }

    .btn_area {
      display: flex;
      justify-content: center;
      align-items: center;

      .previous_btn {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 6px 12px;
        margin: 0 4px;
        font-weight: bold;
        border-radius: 8px;
        background: #27acd9;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
      }

      .previous_btn:hover {
        opacity: 0.6;
      }

      .logout_btn {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 6px 12px;
        margin: 0 4px;
        font-weight: bold;
        border-radius: 8px;
        background: #7bd12b;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
      }

      .logout_btn:hover {
        opacity: 0.6;
      }

    }
  }

  .new_task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .task_input {
    min-width: 300px;
    height: 40px;
    padding: 0 8px;
    margin: 0 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
  }

  .submit_btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 6px 12px;
    margin: 0 4px;
    font-weight: bold;
    border-radius: 8px;
    background: #13ef25;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
  }

  .error {
    font-size: small;
    color: red;
  }
}

.main_loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  border: 15px solid #39d4ff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(180deg);
    border-radius: 0%;
    width: 20px;
    height: 20px;
    border: 5px double #061fd5;
  }

  100%{
    transform: rotate(360deg);
  }
}


.tasks {
  width: 350px;
  margin: 0 auto;
}

.task_title {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin: 2px auto;
}

.task_under {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task_btn_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.task_done_btn {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
  background: #27acd9;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
}

.task_undone_btn {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
  background: #d9e31b;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
}

.task_delete_btn {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
  background: #e13232;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
}

.task_under_line {
  width: 90%;
  color: #ccc;
  margin: 8px auto;
}

.done {
  text-decoration: line-through;
  color: #999999;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.word_turn {
  word-wrap: break-word;
  word-break: break-all;
}