.main {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
}

.login_area {
  text-align: center;
  margin: 0 auto;
}

.login_title {
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
}

.login_btn {
  width: 300px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 8px;
  background: #3232e1;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
}